<div ng-controller="UserController">
  <div class="form-group">

    <h3>Sign Up</h3>
<!--     <form name="userForm" ng-submit="createUser(user)" novalidate> 
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="name" class="form-control" ng-model="user.email" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <button class="btn btn-primary" sref="/signin">Sign In</button>
    </form> -->
    <form name="addUserForm" ng-submit="createUser(newUser)" novalidate>
    <!-- <form name="addUserForm" ng-submit="makeUser()" novalidate> -->
      <input class="form-control" type="text" ng-model="newUser" placeholder="enter username">
      <input type="submit" style="position: absolute; left: -9999px"/>
    </form>
  </div>
</div>